.project-main {
    width:100vw;
    height:100vh;
    background-image:url('../img/project-background.jpeg');
    background-size: 100vw 100vh;
}

.project-intro {
    font-size:10vmin;
    color:white;
    margin-top: 8vmin;
    text-align: center;
    width:100%;
}

.project-list {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: center;
    align-items: center;
    flex-wrap:wrap;
    margin: 0 auto;
    width: 90vw;
    overflow-y: scroll;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none;  /* IE 10+ */ 
}
.project-list::-webkit-scrollbar { /* WebKit */
    width: 0;
    height: 0;
}

.project-box-main {
    width: 45vmin;
    height: 29vmin;
    border: 1px solid rgba(255, 255, 255, 0.185);
    margin: 4vmin;
    transition: background-color 2s;
    cursor:pointer;
}

.project-wrap {
    background-color: rgb(0, 0, 0,0.8);
}

.red {
    background-color: rgba(121, 32, 32, 0.329);
}

.green {
    background-color: rgba(42, 121, 32, 0.329);

}

.blue {
    background-color: rgba(28, 30, 160, 0.329);

}

.gold {
    background-color: rgba(185, 138, 36, 0.329);

}

.orange {
    background-color: rgba(201, 102, 9, 0.329);

}

.purple {
    background-color: rgba(77, 26, 124, 0.329);

}

.project-box-main:hover {
    background-color: white;
}