.resume-intro {
    width:100vw;
    height:80vh;
    background-color: black;
}

.resume-main {
    width:100vw;
    height: auto; 
    padding-bottom: 10vmin;
}

.resume-section {
    display:flex;
    margin-left: 15vmin;
    margin-top: 15vmin;
    font-family: proxima-nova;
}

.resume-left {
    width:30vmin;
    font-size: 3vmin;
    font-family: proxima-nova;
    font-weight:700;
}

.resume-right {
    margin-left: 15vmin;
    font-family: proxima-nova;
    font-weight: 400;
    font-style: normal;
    font-size: 19px;
    letter-spacing: 0em;
    line-height: 2em;
    text-transform: none;
    color: #121212;
    width: 50%;
}



.job-title {
    font-family: proxima-nova;
    font-weight: 700;
    font-style: normal;
    font-size: 20px;
    letter-spacing: .12em;
    line-height: 1.6em;
    text-transform: uppercase;
}

.job-details {
    margin-left: 5%;
    font-weight: 400;
}

.job-main {
    margin-bottom: 5%;
}

.job-company {
    font-weight: 900;
    margin-left: 2%;
}

.education {
    margin-top: 2%;
}

.school-degree {
    font-family: proxima-nova;
    font-weight: 700;
    font-style: normal;
    font-size: 16px;
    letter-spacing: .12em;
    line-height: 1.6em;
    text-transform: uppercase;
}

.projects {
    margin-left: 0;
}

.techs {
    font-weight: 900;
    font-size: 2vmin;
    width: 24vmin;
    line-height: 2em;
}

.school-school {
    margin-bottom: 2%;
    font-weight: 400;
    margin-left: 2%;
}

.tech-list {
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.school-main {
    margin-bottom: 5%;
}

